@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.openButton {
    display: block;
    opacity: 0;
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   cursor: pointer;
}

.openButton.disabled {
    display: none;
    pointer-events: none;
}


button {
    border: none;
    background-color: transparent;
    pointer-events: none !important;

}
/*  display: block;
    cursor: pointer;
    z-index: 10;
    font-family: 'Montserrat', sans-serif;
    font-size: 100px;
    font-weight: 600;
    padding: 20px;
    background-color: transparent;
    border: none;
    color: transparent;
    transition: all 0.2s ease-in-out;
    position: absolute;
     */


.closeButton {
    cursor: pointer;
    z-index: 10;
    position: absolute;
    top: 50px;
    padding: 20px;
    opacity: 1;
    pointer-events: all;
    color: #fff;
    background-color: transparent;
    transform: translateY(0);
    transition: all 0.5s ease-in-out;
 

}

.closeButton.disabled {
    pointer-events: none;
    transform: translateY(-50px) !important;
}


.closeButton svg {
    height: 40px;
    transition: all 0.5s ease-in-out;
}

.icon_invisible {
    opacity: 0;
    transform: rotate(0.5turn);
}

.icon_visible {
    opacity: 1;
    transform: rotate(0);
}

.closeButton:hover .icon_visible {
    transform:  rotate(-0.5turn);
}

/* ! */

.main {
    position: absolute;
   
   padding: 20px;
   max-width: 600px;
    z-index: 10;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 400;
    background-color: transparent;
    border: none;
    transition: all 0.2s ease-in-out;
    color: white;
}

.main_invisible{
    top: 100vh;
    opacity: 0;
    pointer-events: none;
}

.main_visible{
    top: 200px;
    opacity: 1;
}

@media screen and (max-width: 600px) {
    .main_visible{
        top: 100px;
    }
}

.main__title {
    margin: 20px 0 ;
    text-align: center;
}

.main__socials {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__social__icon {
    display: block;
}

.main__social__icon:hover svg {
    fill: rgb(180, 180, 180);
}

.main__social__icon:not(:last-child) {
    margin-right: 40px;
}

.main__social__icon svg{
    height: 40px;
    transition: all 0.2s ease-in-out;
}


.loadingBar {
    position: absolute;
    top: 50%;

    width: 80%;
    height: 2px;
    background-color: #fff;
    transform: scaleX(0);
    transform-origin: top left;
    transition: transform 0.5s ease-in-out;
    will-change: transform; 
}

.loadingBar.finished {
    transform-origin: top right;
    transition: transform 1.0s ease-in-out;
}

